<%- include('../includes/head.ejs') %> 
</head>
<body class="vh-100 d-flex flex-column">
    <%- include('../includes/navigation.ejs') %> 

    <main class="d-flex flex-column container flex-grow-1">
        <h1>My product</h1>
        <% if (typeof products !== 'undefined' && products.length > 0) {%> 
            <div class="container">
                <div class="row gy-5 gx-5">
                    <% for (let product of products) { %> 
                        <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12">
                        <article class="card shadow">
                            <div class="card-header d-flex align-items-center" style="min-height: 65px;">
                            <%= product.title %> 
                            </div>
                            <img src="/<%= product.imageUrl %>" alt="<%= product.title %>" style="height: 300px;">
                            <div class="card-body">
                                <h5 class="card-title"><%= product.price %> </h5>
                                <p class="card-text" style="max-width: 98%; max-height:48px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;">
                                    <%= product.description %> 
                                </p>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <a href="/admin/edit-product/<%= product._id %> " class="btn btn-primary" style="width: 100px;">Edit</a>
                                <form action="/admin/delete-product" method="post">
                                    <input type="hidden" name="productId" value="<%= product._id %>">
                                    <button class="btn btn-primary" type="submit" style="width: 100px;">Delete</button>
                                </form>
                            </div>
                        </article>
                        </div>
                    <% } %> 
                </div>
            </div>
        <% } else { %>
          <h1>No product found</h1>
        <% } %> 
    </main>

    <%- include('../includes/footer.ejs') %> 