<%- include('../includes/head.ejs') %> 
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body class="vh-100 d-flex flex-column">
    <%- include('../includes/navigation.ejs') %> 

    <h1 class="m-auto my-5">Cart</h1>
    <main class="d-flex flex-column container flex-grow-1">
        <ul class="d-flex align-items-center">
            <% for (let item of cartItems) { %> 
                <li>
                    <img class="product-image" src="/<%= item.productId.imageUrl %>" alt="">
                    <div class="product-info flex-grow-1">
                        <a href="#" class="product-link"><%= item.productId.title %></a>
                        <p class="product-quantity">Quantity: <%= item.quantity %></p>
                    </div>
                    <form action="/cart-delete-item" method="post" class="d-flex align-items-center">
                        <input type="hidden" name="productId" value="<%= item.productId._id %>">
                        <button type="submit" class="btn me-3"><i class="fa-solid fa-trash fa-lg text-danger"></i></button>
                    </form>
                </li>
            <% } %> 
        </ul>
        <form action="/checkout" method="post" class="d-flex align-self-center">
            <button type="submit" class="btn btn-outline-primary">Checkout</button>
        </form>
    </main>

    <%- include('../includes/footer.ejs') %> 